*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;   
  }
  
.cabecalho{
  height: 50px;
  width: 100%;
  background-color: cadetblue;
}

.rodape{
  /* position: fixed; */
  /* bottom: 0; */
  
  height: 50px;
  width: 100%;
  background-color: cornflowerblue;
}



  .box {
    width: 100px;
    height: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    color: #fff;
    font-weight: bold;
  }
  
  .box1 {
    background-color: #f44336;
  }
  
  .box2 {
    background-color: #2196f3;
  }
  
  .box3 {
    background-color: #4caf50;
  }
  
  .ageu {
    background-color: rgb(100, 237, 125);
  }
  